extends layout

block content
  h1= "Mini Messageboard"
  h3= "Post a comment here!"
  ul
    each message in messages
      div.message
        <p><strong>#{message.username}</strong> <em>#{message.date}</em></p>
        
        <p>#{message.value}</p>
        a(href=`/messages/${message.id}`)
          button Open
  form(action="/new") 
    button(type="submit")="Add a message"

